USE [AppinternWorks]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
/****** Object:  Table [dbo].[MemberGroups]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MemberGroups]') AND type in (N'U'))
DROP TABLE [dbo].[MemberGroups]
GO
/****** Object:  Table [dbo].[JobSectors]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JobSectors]') AND type in (N'U'))
DROP TABLE [dbo].[JobSectors]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genders]') AND type in (N'U'))
DROP TABLE [dbo].[Genders]
GO
/****** Object:  Table [dbo].[Durations]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Durations]') AND type in (N'U'))
DROP TABLE [dbo].[Durations]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Countries]') AND type in (N'U'))
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[Commitments]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Commitments]') AND type in (N'U'))
DROP TABLE [dbo].[Commitments]
GO
/****** Object:  View [dbo].[rep_MembersApprenticeships]    Script Date: 4/3/2021 6:23:36 πμ ******/
DROP VIEW [dbo].[rep_MembersApprenticeships]
GO
/****** Object:  Table [dbo].[Apprenticeships]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Apprenticeships]') AND type in (N'U'))
DROP TABLE [dbo].[Apprenticeships]
GO
/****** Object:  View [dbo].[rep_MembersArticles]    Script Date: 4/3/2021 6:23:36 πμ ******/
DROP VIEW [dbo].[rep_MembersArticles]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Articles]') AND type in (N'U'))
DROP TABLE [dbo].[Articles]
GO
/****** Object:  View [dbo].[sql_MembersAll]    Script Date: 4/3/2021 6:23:36 πμ ******/
DROP VIEW [dbo].[sql_MembersAll]
GO
/****** Object:  View [dbo].[qryMembersUnion]    Script Date: 4/3/2021 6:23:36 πμ ******/
DROP VIEW [dbo].[qryMembersUnion]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employers]') AND type in (N'U'))
DROP TABLE [dbo].[Employers]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teachers]') AND type in (N'U'))
DROP TABLE [dbo].[Teachers]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Schools]') AND type in (N'U'))
DROP TABLE [dbo].[Schools]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Organizations]') AND type in (N'U'))
DROP TABLE [dbo].[Organizations]
GO
/****** Object:  Table [dbo].[LiaisonOfficers]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LiaisonOfficers]') AND type in (N'U'))
DROP TABLE [dbo].[LiaisonOfficers]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Students]') AND type in (N'U'))
DROP TABLE [dbo].[Students]
GO
/****** Object:  Table [dbo].[Graduates]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Graduates]') AND type in (N'U'))
DROP TABLE [dbo].[Graduates]
GO
/****** Object:  Table [dbo].[Ambassadors]    Script Date: 4/3/2021 6:23:36 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ambassadors]') AND type in (N'U'))
DROP TABLE [dbo].[Ambassadors]
GO
/****** Object:  User [umbraco]    Script Date: 4/3/2021 6:23:36 πμ ******/
DROP USER [umbraco]
GO
USE [master]
GO
/****** Object:  Database [AppinternWorks]    Script Date: 4/3/2021 6:23:36 πμ ******/
DROP DATABASE [AppinternWorks]
GO
/****** Object:  Database [AppinternWorks]    Script Date: 4/3/2021 6:23:36 πμ ******/
CREATE DATABASE [AppinternWorks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppinternWorksDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQL_SERVER\MSSQL\DATA\AppinternWorksDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppinternWorksDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQL_SERVER\MSSQL\DATA\AppinternWorksDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppinternWorks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppinternWorks]
GO
/****** Object:  User [umbraco]    Script Date: 4/3/2021 6:23:36 πμ ******/
CREATE USER [umbraco] FOR LOGIN [umbraco] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [umbraco]
GO
ALTER ROLE [db_datareader] ADD MEMBER [umbraco]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [umbraco]
GO
/****** Object:  Table [dbo].[Ambassadors]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambassadors](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[Occupation] [nvarchar](255) NULL,
	[JobSector] [nvarchar](255) NULL,
	[Employer] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_BusinessAmbassadors] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Graduates]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Graduates](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Birthdate] [date] NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Specialization] [nvarchar](255) NULL,
	[School] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Graduates] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Birthdate] [date] NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Specialization] [nvarchar](255) NULL,
	[School] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiaisonOfficers]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiaisonOfficers](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[OfficeAddress] [nvarchar](255) NULL,
	[Occupation] [nvarchar](255) NULL,
	[Employer] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LiaisonOfficers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[OrganizationName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Headquarters] [nvarchar](255) NULL,
	[JobSector] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[SchoolName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Schools] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[School] [nvarchar](255) NULL,
	[SchoolAddress] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employers](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Headquarters] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[JobSector1] [nvarchar](255) NULL,
	[JobSector2] [nvarchar](255) NULL,
	[JobSector3] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[qryMembersUnion]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qryMembersUnion]
AS
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Ambassadors
UNION
SELECT   MemberID, CompanyName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Employers
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Graduates
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.LiaisonOfficers
UNION
SELECT   MemberID, OrganizationName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Organizations
UNION
SELECT   MemberID, SchoolName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Schools
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Students
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Teachers
GO
/****** Object:  View [dbo].[sql_MembersAll]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[sql_MembersAll]
AS
SELECT   MemberID, Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.qryMembersUnion
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleId] [int] NOT NULL,
	[ArticleDate] [date] NULL,
	[AuthorName] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Country] [nvarchar](50) NULL,
	[ArticleMemberID] [int] NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[rep_MembersArticles]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[rep_MembersArticles]
AS
SELECT   dbo.Articles.ArticleId, dbo.sql_MembersAll.MemberID, dbo.sql_MembersAll.TaxNumber, dbo.sql_MembersAll.Name, dbo.sql_MembersAll.Email, dbo.sql_MembersAll.Phone, dbo.sql_MembersAll.Country, dbo.sql_MembersAll.LoginName, 
                dbo.Articles.ArticleDate, dbo.Articles.AuthorName, dbo.Articles.Title, dbo.Articles.Description
FROM      dbo.sql_MembersAll INNER JOIN
                dbo.Articles ON dbo.sql_MembersAll.MemberID = dbo.Articles.ArticleMemberID
GO
/****** Object:  Table [dbo].[Apprenticeships]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apprenticeships](
	[ApprenticeshipID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[PostDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[DurationMonths] [nvarchar](50) NULL,
	[Commitment] [nvarchar](50) NULL,
	[Compensation] [nvarchar](50) NULL,
	[JobSector] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[EmployerID] [int] NULL,
 CONSTRAINT [PK_Apprenticeships] PRIMARY KEY CLUSTERED 
(
	[ApprenticeshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[rep_MembersApprenticeships]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[rep_MembersApprenticeships]
AS
SELECT   dbo.Apprenticeships.ApprenticeshipID AS AppID, dbo.Employers.MemberID, dbo.Employers.TaxNumber, dbo.Employers.CompanyName, dbo.Employers.Phone, dbo.Employers.Email, dbo.Apprenticeships.PostDate, dbo.Apprenticeships.Title, 
                dbo.Apprenticeships.Description, dbo.Apprenticeships.DurationMonths, dbo.Apprenticeships.Commitment, dbo.Apprenticeships.Compensation, dbo.Apprenticeships.JobSector, dbo.Apprenticeships.Country
FROM      dbo.Employers INNER JOIN
                dbo.Apprenticeships ON dbo.Employers.MemberID = dbo.Apprenticeships.EmployerID
GO
/****** Object:  Table [dbo].[Commitments]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commitments](
	[CommitmentID] [int] IDENTITY(1,1) NOT NULL,
	[CommitmentText] [nvarchar](50) NULL,
 CONSTRAINT [PK_Commitments] PRIMARY KEY CLUSTERED 
(
	[CommitmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durations]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durations](
	[DurationID] [int] IDENTITY(1,1) NOT NULL,
	[DurationMonths] [nvarchar](20) NULL,
 CONSTRAINT [PK_Durations] PRIMARY KEY CLUSTERED 
(
	[DurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[GenderText] [nvarchar](20) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSectors]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSectors](
	[JobSectorID] [int] IDENTITY(1,1) NOT NULL,
	[JobSectorText] [nvarchar](255) NULL,
 CONSTRAINT [PK_JobSectors] PRIMARY KEY CLUSTERED 
(
	[JobSectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberGroups]    Script Date: 4/3/2021 6:23:36 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberGroups](
	[MemberGroupID] [int] IDENTITY(1,1) NOT NULL,
	[MemberGroupText] [nvarchar](50) NULL,
 CONSTRAINT [PK_MemberTypes] PRIMARY KEY CLUSTERED 
(
	[MemberGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ambassadors] ([MemberID], [TaxNumber], [FullName], [Address], [Country], [Phone], [Email], [Website], [SocialMedia], [Occupation], [JobSector], [Employer], [LoginName]) VALUES (1271, N'123456789', N'Pedro Afonso', N'Plateia Georgiou 21', N'Greece', N'2106878934', N'business1@example.com', N'www.oaed.gr', N'https://www.facebook.com/', N'Public Servant', N'Recruitment and Human Resouces', N'Manpower Employment Organization (OAED)', N'business1')
INSERT [dbo].[Ambassadors] ([MemberID], [TaxNumber], [FullName], [Address], [Country], [Phone], [Email], [Website], [SocialMedia], [Occupation], [JobSector], [Employer], [LoginName]) VALUES (1272, N'123456789', N'Elizabeth Brown', N'Mataderos  2312', N'Spain', N'(5) 555-3932', N'business2@example.com', N'', N'https://www.facebook.com/, https://twitter.com/home?lang=en, https://gr.linkedin.com/', N'Agricultural and Food Science Technician', N'Retail and Sales', N'Great Lakes Food Market', N'business2')
INSERT [dbo].[Ambassadors] ([MemberID], [TaxNumber], [FullName], [Address], [Country], [Phone], [Email], [Website], [SocialMedia], [Occupation], [JobSector], [Employer], [LoginName]) VALUES (1273, N'123456789', N'Sven Ottlieb', N'Hauptstr. 29', N'Germany', N'0452-076545', N'business3@example.com', N'', N'https://www.facebook.com/, https://twitter.com/home?lang=en, https://gr.linkedin.com/', N'Architectural and Engineering Manager', N'Engineering and Manufacturing', N'Electronic Arts', N'business3')
GO
INSERT [dbo].[Apprenticeships] ([ApprenticeshipID], [Name], [Title], [PostDate], [Description], [DurationMonths], [Commitment], [Compensation], [JobSector], [Country], [Status], [StartDate], [EndDate], [EmployerID]) VALUES (1496, N'Apprenticeship 01', N'DIGITAL MARKETING IN BARCELONA', CAST(N'2021-01-10' AS Date), N'Digital Marketing Apprenticeship in Barcelona', N'10 months', N'Full-Time', N'Financial compensation', N'Business, Consulting and Management', N'Spain', N'Active', CAST(N'2021-01-17' AS Date), CAST(N'2021-04-15' AS Date), 1267)
INSERT [dbo].[Apprenticeships] ([ApprenticeshipID], [Name], [Title], [PostDate], [Description], [DurationMonths], [Commitment], [Compensation], [JobSector], [Country], [Status], [StartDate], [EndDate], [EmployerID]) VALUES (1497, N'Apprenticeship 02', N'DATA ANALYSIS IN BARCELONA', CAST(N'2021-01-19' AS Date), N'Data Analyst apprenticeship in Barcelona', N'12 months', N'Part-Time', N'No financial compensation', N'Information Technology', N'Spain', N'Active', CAST(N'2021-02-01' AS Date), CAST(N'2021-03-10' AS Date), 1267)
INSERT [dbo].[Apprenticeships] ([ApprenticeshipID], [Name], [Title], [PostDate], [Description], [DurationMonths], [Commitment], [Compensation], [JobSector], [Country], [Status], [StartDate], [EndDate], [EmployerID]) VALUES (1498, N'Apprenticeship 03', N'CRYPTOCURRENCIES ANALYST IN BARCELONA', CAST(N'2021-02-09' AS Date), N'CRYPTOCURRENCIES ANALYST APPRENTICESHIP IN BARCELONA', N'9 months', N'Full-Time', N'Financial compensation', N'Business, Consulting and Management', N'Spain', N'Active', CAST(N'2021-02-01' AS Date), CAST(N'2021-03-31' AS Date), 1268)
GO
INSERT [dbo].[Articles] ([ArticleId], [ArticleDate], [AuthorName], [Name], [Title], [Description], [Country], [ArticleMemberID]) VALUES (1140, CAST(N'2021-01-03' AS Date), N'Flora MATTHAES', N'Article 19', N'Commission welcomes political agreement on European Globalisation Adjustment Fund for displaced workers', N'Political agreement on European Globalisation Adjustment Fund for displaced workers', N'Greece', 1289)
INSERT [dbo].[Articles] ([ArticleId], [ArticleDate], [AuthorName], [Name], [Title], [Description], [Country], [ArticleMemberID]) VALUES (1141, CAST(N'2021-01-05' AS Date), N'Flora MATTHAES', N'Article 24', N'The Pact for Skills: mobilising all partners to invest in skills', N'The Pact for Skills: mobilising all partners to invest in skills', N'Spain', 1266)
INSERT [dbo].[Articles] ([ArticleId], [ArticleDate], [AuthorName], [Name], [Title], [Description], [Country], [ArticleMemberID]) VALUES (1142, CAST(N'2021-01-06' AS Date), N'Marta WIECZOREK', N'Article 16', N'Questions and answers: Launching the Pact for Skills', N'Questions and answers: Launching the Pact for Skills', N'Belgium', 1281)
GO
SET IDENTITY_INSERT [dbo].[Commitments] ON 

INSERT [dbo].[Commitments] ([CommitmentID], [CommitmentText]) VALUES (1, N'Full-Time')
INSERT [dbo].[Commitments] ([CommitmentID], [CommitmentText]) VALUES (2, N'Part-Time')
SET IDENTITY_INSERT [dbo].[Commitments] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Austria')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Belgium')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Bulgaria')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Durations] ON 

INSERT [dbo].[Durations] ([DurationID], [DurationMonths]) VALUES (1, N'1 month')
INSERT [dbo].[Durations] ([DurationID], [DurationMonths]) VALUES (2, N'2 months')
INSERT [dbo].[Durations] ([DurationID], [DurationMonths]) VALUES (3, N'3 months')
SET IDENTITY_INSERT [dbo].[Durations] OFF
GO
INSERT [dbo].[Employers] ([MemberID], [TaxNumber], [CompanyName], [ContactPerson], [Headquarters], [Country], [JobSector1], [JobSector2], [JobSector3], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1266, NULL, N'Bottom-Dollar Markets', N'Paul Seal', N'12 King George St., Brussels', N'Belgium', N'Accountancy, Banking and Finance', N'Business, Consulting and Management', N'', N'+30 2346 893', N'employer1@example.com', N'www.example.com', N'https://www.facebook.com/', N'employer1')
INSERT [dbo].[Employers] ([MemberID], [TaxNumber], [CompanyName], [ContactPerson], [Headquarters], [Country], [JobSector1], [JobSector2], [JobSector3], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1267, NULL, N'Cactus Comidas para llevar', N'Nick Pearson', N'Address 76878', N'Spain', N'Energy and Utilities', N'Property and Construction', N'Environment and Agriculture', N'+45 4657 899', N'employer2@example.com', N'www.employer2.com', N'https://www.facebook.com/, https://twitter.com/home?lang=en, https://gr.linkedin.com/', N'employer2')
INSERT [dbo].[Employers] ([MemberID], [TaxNumber], [CompanyName], [ContactPerson], [Headquarters], [Country], [JobSector1], [JobSector2], [JobSector3], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1268, NULL, N'Centro comercial Moctezuma', N'Adam Miller', N'Address 5857858', N'Ireland', N'Hospitality and Events Management', N'Social Care', N'', N'+33 8987 234', N'employer3@example.com', N'www.employer3.com', N'https://www.facebook.com/, https://twitter.com/home?lang=en, https://gr.linkedin.com/', N'employer3')
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([GenderID], [GenderText]) VALUES (1, N'Male')
INSERT [dbo].[Genders] ([GenderID], [GenderText]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
INSERT [dbo].[Graduates] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1261, N'123456789', N'Hanna Moos', CAST(N'1986-10-17' AS Date), N'Female', N'+302106878934', N'graduate1@example.com', N'Greece', N'Business Information Systems', N'Vocational Institute IEK Patras', N'graduate1')
INSERT [dbo].[Graduates] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1262, N'123456789', N'Frederique Citeaux', CAST(N'2000-10-15' AS Date), N'Prefer not to say', N'011-4988260', N'graduate2@example.com', N'Italy', N'CAD/CAM Engineering Technology', N'Torino Technical School 1', N'graduate2')
INSERT [dbo].[Graduates] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1263, N'123456789', N'Martín Sommer', CAST(N'2002-01-11' AS Date), N'Male', N'(171) 555-0297', N'graduate3@example.com', N'Ireland', N'Agricultural Machinery Technician', N'Vocational Institute of Dublin', N'graduate3')
GO
SET IDENTITY_INSERT [dbo].[JobSectors] ON 

INSERT [dbo].[JobSectors] ([JobSectorID], [JobSectorText]) VALUES (1, N'Accountancy, Banking and Finance')
INSERT [dbo].[JobSectors] ([JobSectorID], [JobSectorText]) VALUES (2, N'Business, Consulting and Management')
INSERT [dbo].[JobSectors] ([JobSectorID], [JobSectorText]) VALUES (3, N'Charity and Voluntary Work')
SET IDENTITY_INSERT [dbo].[JobSectors] OFF
GO
INSERT [dbo].[LiaisonOfficers] ([MemberID], [TaxNumber], [FullName], [Country], [Phone], [Email], [OfficeAddress], [Occupation], [Employer], [LoginName]) VALUES (1276, N'123456789', N'Roland Mendel', N'Greece', N'+302106878934', N'liaison1@example.com', N'Plateia Georgiou 21, Athens, Attica, Greece', N'Psychology and Sociology', N'Umbraco Ltd', N'liaison1')
INSERT [dbo].[LiaisonOfficers] ([MemberID], [TaxNumber], [FullName], [Country], [Phone], [Email], [OfficeAddress], [Occupation], [Employer], [LoginName]) VALUES (1277, N'123456789', N'Aria Cruz', N'France', N'115552167', N'liaison2@example.com', N'Address 567', N'Business Continuity Planner', N'Seven Seas Imports', N'liaison2')
INSERT [dbo].[LiaisonOfficers] ([MemberID], [TaxNumber], [FullName], [Country], [Phone], [Email], [OfficeAddress], [Occupation], [Employer], [LoginName]) VALUES (1278, N'123456789', N'Diego Roel', N'Austria', N'(5) 555-2933', N'liaison3@example.com', N'Address 2354253', N'Immigration and Customs Inspector', N'Toms Spezialitäten', N'liaison3')
GO
SET IDENTITY_INSERT [dbo].[MemberGroups] ON 

INSERT [dbo].[MemberGroups] ([MemberGroupID], [MemberGroupText]) VALUES (1, N'VET Student')
INSERT [dbo].[MemberGroups] ([MemberGroupID], [MemberGroupText]) VALUES (2, N'VET Graduate')
INSERT [dbo].[MemberGroups] ([MemberGroupID], [MemberGroupText]) VALUES (3, N'VET Provider')
SET IDENTITY_INSERT [dbo].[MemberGroups] OFF
GO
INSERT [dbo].[Organizations] ([MemberID], [TaxNumber], [OrganizationName], [ContactPerson], [Country], [Headquarters], [JobSector], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1286, N'123456789', N'Association of Commercial Television in Europe (ACT)', N'Patricia Anderson', N'France', N'Address 565656', N'Hospitality and Events Management', N'+32 7896123', N'organization1@example.com', N'www.organization1.org', N'https://www.facebook.com/, https://twitter.com/home?lang=en', N'organization1')
INSERT [dbo].[Organizations] ([MemberID], [TaxNumber], [OrganizationName], [ContactPerson], [Country], [Headquarters], [JobSector], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1287, N'', N'Association of Mutual Insurers and Insurance Cooperatives in Europe (AMICE)', N'Giovanni Rovelli', N'France', N'', N'Marketing, Advertising and Public Relations', N'(02) 201 24 67', N'organization2@example.com', N'', N'', N'organization2')
INSERT [dbo].[Organizations] ([MemberID], [TaxNumber], [OrganizationName], [ContactPerson], [Country], [Headquarters], [JobSector], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1288, N'123456789', N'Council of European Municipalities and Regions (CEMR)', N'Yvonne Moncada', N'Malta', N'Address 435435435', N'Public Services and Administration', N'0221-0644327', N'organization3@example.com', N'www.organization3.org', N'', N'organization3')
GO
INSERT [dbo].[Schools] ([MemberID], [TaxNumber], [SchoolName], [ContactPerson], [Country], [Address], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1281, N'123456789', N'Hi-Tech Training', N'Rebecca Thorn', N'Malta', N'Another street and number 2', N'223-4565456', N'school1@example.com', N'www.example.com', N'https://www.facebook.com/', N'school1')
INSERT [dbo].[Schools] ([MemberID], [TaxNumber], [SchoolName], [ContactPerson], [Country], [Address], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1282, N'123456789', N'Dublin Vocational Academy', N'Helen Bennett', N'Ireland', N'Rue Joseph-Bens 532', N'(5) 555-1340', N'school2@example.com', N'www.school2.edu', N'https://www.facebook.com/, https://twitter.com/home?lang=en', N'school2')
INSERT [dbo].[Schools] ([MemberID], [TaxNumber], [SchoolName], [ContactPerson], [Country], [Address], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1283, N'123456789', N'Product School Athens', N'Alexopoulou Dimitra', N'Greece', N'Leoforos Georgiou 11', N'210-3456 443', N'school3@example.com', N'www.school3.edu', N'https://www.facebook.com/, https://twitter.com/home?lang=en, https://gr.linkedin.com/', N'school3')
GO
INSERT [dbo].[Students] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1256, N'123456789', N'Maria Anders', CAST(N'1992-03-16' AS Date), N'Female', N'+302106878934', N'student1@example.com', N'Greece', N'Automation control', N'Vocational Institute IEK Patras', N'student1')
INSERT [dbo].[Students] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1257, N'123456789', N'Ana Trujillo', CAST(N'2001-01-11' AS Date), N'Female', N'(8) 34-56-12', N'student2@example.com', N'Italy', N'Chemical Plant Operator', N'Vocational Institute 3', N'student2')
INSERT [dbo].[Students] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1258, N'123456789', N'Antonio Moreno', CAST(N'2003-08-12' AS Date), N'Male', N'035-640230', N'student3@example.com', N'Netherlands', N'Small Business Management', N'Vocational Institute 4', N'student3')
GO
INSERT [dbo].[Teachers] ([MemberID], [TaxNumber], [FullName], [Country], [School], [SchoolAddress], [Phone], [Email], [SocialMedia], [LoginName]) VALUES (1291, N'123456789', N'Simon Crowther', N'Luxemburg', N'Vocational Institute IEK Creta', N'Address 12', N'+302346789323', N'teacher1@example.com', N'https://www.facebook.com/', N'teacher1')
INSERT [dbo].[Teachers] ([MemberID], [TaxNumber], [FullName], [Country], [School], [SchoolAddress], [Phone], [Email], [SocialMedia], [LoginName]) VALUES (1292, N'123456789', N'Yvonne Moncada', N'Netherlands', N'Ofsio Technical School', N'Sierras de Granada 9993', N'07-98 92 35', N'teacher2@example.com', N'https://www.facebook.com/, https://twitter.com/home?lang=en, https://gr.linkedin.com/', N'teacher2')
INSERT [dbo].[Teachers] ([MemberID], [TaxNumber], [FullName], [Country], [School], [SchoolAddress], [Phone], [Email], [SocialMedia], [LoginName]) VALUES (1293, N'123456789', N'Henriette Pfalzheim', N'Spain', N'Ofistic Technical School', N'Berkeley Gardens 12  Brewery', N'(071) 23 67 22 20', N'teacher3@example.com', N'', N'teacher3')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[26] 4[21] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[7] 2[46] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2655
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 5625
         Alias = 3150
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[22] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employers"
            Begin Extent = 
               Top = 5
               Left = 2
               Bottom = 145
               Right = 176
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Apprenticeships"
            Begin Extent = 
               Top = 7
               Left = 288
               Bottom = 147
               Right = 476
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3075
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[23] 4[22] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "sql_MembersAll"
            Begin Extent = 
               Top = 4
               Left = 7
               Bottom = 160
               Right = 238
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Articles"
            Begin Extent = 
               Top = 0
               Left = 311
               Bottom = 159
               Right = 551
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 2085
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3105
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[20] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "qryMembersUnion"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2190
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
USE [master]
GO
