USE [AppinternWorks]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
/****** Object:  Table [dbo].[MemberGroups]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MemberGroups]') AND type in (N'U'))
DROP TABLE [dbo].[MemberGroups]
GO
/****** Object:  Table [dbo].[JobSectors]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JobSectors]') AND type in (N'U'))
DROP TABLE [dbo].[JobSectors]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genders]') AND type in (N'U'))
DROP TABLE [dbo].[Genders]
GO
/****** Object:  Table [dbo].[Durations]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Durations]') AND type in (N'U'))
DROP TABLE [dbo].[Durations]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Countries]') AND type in (N'U'))
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[Commitments]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Commitments]') AND type in (N'U'))
DROP TABLE [dbo].[Commitments]
GO
/****** Object:  View [dbo].[rep_MembersApprenticeships]    Script Date: 28/2/2021 6:05:53 πμ ******/
DROP VIEW [dbo].[rep_MembersApprenticeships]
GO
/****** Object:  Table [dbo].[Apprenticeships]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Apprenticeships]') AND type in (N'U'))
DROP TABLE [dbo].[Apprenticeships]
GO
/****** Object:  View [dbo].[rep_MembersArticles]    Script Date: 28/2/2021 6:05:53 πμ ******/
DROP VIEW [dbo].[rep_MembersArticles]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Articles]') AND type in (N'U'))
DROP TABLE [dbo].[Articles]
GO
/****** Object:  View [dbo].[sql_MembersAll]    Script Date: 28/2/2021 6:05:53 πμ ******/
DROP VIEW [dbo].[sql_MembersAll]
GO
/****** Object:  View [dbo].[qryMembersUnion]    Script Date: 28/2/2021 6:05:53 πμ ******/
DROP VIEW [dbo].[qryMembersUnion]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employers]') AND type in (N'U'))
DROP TABLE [dbo].[Employers]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teachers]') AND type in (N'U'))
DROP TABLE [dbo].[Teachers]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Schools]') AND type in (N'U'))
DROP TABLE [dbo].[Schools]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Organizations]') AND type in (N'U'))
DROP TABLE [dbo].[Organizations]
GO
/****** Object:  Table [dbo].[LiaisonOfficers]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LiaisonOfficers]') AND type in (N'U'))
DROP TABLE [dbo].[LiaisonOfficers]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Students]') AND type in (N'U'))
DROP TABLE [dbo].[Students]
GO
/****** Object:  Table [dbo].[Graduates]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Graduates]') AND type in (N'U'))
DROP TABLE [dbo].[Graduates]
GO
/****** Object:  Table [dbo].[Ambassadors]    Script Date: 28/2/2021 6:05:53 πμ ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ambassadors]') AND type in (N'U'))
DROP TABLE [dbo].[Ambassadors]
GO
/****** Object:  User [umbraco]    Script Date: 28/2/2021 6:05:53 πμ ******/
DROP USER [umbraco]
GO
USE [master]
GO
/****** Object:  Database [AppinternWorks]    Script Date: 28/2/2021 6:05:53 πμ ******/
DROP DATABASE [AppinternWorks]
GO
/****** Object:  Database [AppinternWorks]    Script Date: 28/2/2021 6:05:53 πμ ******/
CREATE DATABASE [AppinternWorks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppinternWorksDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQL_SERVER\MSSQL\DATA\AppinternWorksDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppinternWorksDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQL_SERVER\MSSQL\DATA\AppinternWorksDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppinternWorks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppinternWorks]
GO
/****** Object:  User [umbraco]    Script Date: 28/2/2021 6:05:53 πμ ******/
CREATE USER [umbraco] FOR LOGIN [umbraco] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [umbraco]
GO
ALTER ROLE [db_datareader] ADD MEMBER [umbraco]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [umbraco]
GO
/****** Object:  Table [dbo].[Ambassadors]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambassadors](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[Occupation] [nvarchar](255) NULL,
	[JobSector] [nvarchar](255) NULL,
	[Employer] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_BusinessAmbassadors] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Graduates]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Graduates](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Birthdate] [date] NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Specialization] [nvarchar](255) NULL,
	[School] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Graduates] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Birthdate] [date] NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Specialization] [nvarchar](255) NULL,
	[School] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiaisonOfficers]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiaisonOfficers](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[OfficeAddress] [nvarchar](255) NULL,
	[Occupation] [nvarchar](255) NULL,
	[Employer] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LiaisonOfficers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[OrganizationName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Headquarters] [nvarchar](255) NULL,
	[JobSector] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[SchoolName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Schools] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[FullName] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[School] [nvarchar](255) NULL,
	[SchoolAddress] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employers](
	[MemberID] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Headquarters] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[JobSector1] [nvarchar](255) NULL,
	[JobSector2] [nvarchar](255) NULL,
	[JobSector3] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[SocialMedia] [nvarchar](255) NULL,
	[LoginName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[qryMembersUnion]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qryMembersUnion]
AS
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Ambassadors
UNION
SELECT   MemberID, CompanyName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Employers
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Graduates
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.LiaisonOfficers
UNION
SELECT   MemberID, OrganizationName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Organizations
UNION
SELECT   MemberID, SchoolName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Schools
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Students
UNION
SELECT   MemberID, FullName AS Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.Teachers
GO
/****** Object:  View [dbo].[sql_MembersAll]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[sql_MembersAll]
AS
SELECT   MemberID, Name, TaxNumber, Email, Phone, Country, LoginName
FROM      dbo.qryMembersUnion
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleId] [int] NOT NULL,
	[ArticleDate] [date] NULL,
	[AuthorName] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Country] [nvarchar](50) NULL,
	[ArticleMemberID] [int] NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[rep_MembersArticles]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[rep_MembersArticles]
AS
SELECT   dbo.Articles.ArticleId, dbo.sql_MembersAll.MemberID, dbo.sql_MembersAll.TaxNumber, dbo.sql_MembersAll.Name, dbo.sql_MembersAll.Email, dbo.sql_MembersAll.Phone, dbo.sql_MembersAll.Country, dbo.sql_MembersAll.LoginName, 
                dbo.Articles.ArticleDate, dbo.Articles.AuthorName, dbo.Articles.Title, dbo.Articles.Description
FROM      dbo.sql_MembersAll INNER JOIN
                dbo.Articles ON dbo.sql_MembersAll.MemberID = dbo.Articles.ArticleMemberID
GO
/****** Object:  Table [dbo].[Apprenticeships]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apprenticeships](
	[ApprenticeshipID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[PostDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[DurationMonths] [nvarchar](50) NULL,
	[Commitment] [nvarchar](50) NULL,
	[Compensation] [nvarchar](50) NULL,
	[JobSector] [nvarchar](255) NULL,
	[Country] [nvarchar](50) NULL,
	[Requirements] [nvarchar](max) NULL,
	[EmployerID] [int] NULL,
 CONSTRAINT [PK_Apprenticeships] PRIMARY KEY CLUSTERED 
(
	[ApprenticeshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[rep_MembersApprenticeships]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[rep_MembersApprenticeships]
AS
SELECT   dbo.Apprenticeships.ApprenticeshipID AS AppID, dbo.Employers.MemberID, dbo.Employers.TaxNumber, dbo.Employers.CompanyName, dbo.Employers.Phone, dbo.Employers.Email, dbo.Apprenticeships.PostDate, dbo.Apprenticeships.Title, 
                dbo.Apprenticeships.Description, dbo.Apprenticeships.DurationMonths, dbo.Apprenticeships.Commitment, dbo.Apprenticeships.Compensation, dbo.Apprenticeships.JobSector, dbo.Apprenticeships.Country
FROM      dbo.Employers INNER JOIN
                dbo.Apprenticeships ON dbo.Employers.MemberID = dbo.Apprenticeships.EmployerID
GO
/****** Object:  Table [dbo].[Commitments]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commitments](
	[CommitmentID] [int] IDENTITY(1,1) NOT NULL,
	[CommitmentText] [nvarchar](50) NULL,
 CONSTRAINT [PK_Commitments] PRIMARY KEY CLUSTERED 
(
	[CommitmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durations]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durations](
	[DurationID] [int] IDENTITY(1,1) NOT NULL,
	[DurationMonths] [nvarchar](20) NULL,
 CONSTRAINT [PK_Durations] PRIMARY KEY CLUSTERED 
(
	[DurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[GenderText] [nvarchar](20) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSectors]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSectors](
	[JobSectorID] [int] IDENTITY(1,1) NOT NULL,
	[JobSectorText] [nvarchar](255) NULL,
 CONSTRAINT [PK_JobSectors] PRIMARY KEY CLUSTERED 
(
	[JobSectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberGroups]    Script Date: 28/2/2021 6:05:53 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberGroups](
	[MemberGroupID] [int] IDENTITY(1,1) NOT NULL,
	[MemberGroupText] [nvarchar](50) NULL,
 CONSTRAINT [PK_MemberTypes] PRIMARY KEY CLUSTERED 
(
	[MemberGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ambassadors] ([MemberID], [TaxNumber], [FullName], [Address], [Country], [Phone], [Email], [Website], [SocialMedia], [Occupation], [JobSector], [Employer], [LoginName]) VALUES (1271, NULL, N'Pedro Afonso', N'Plateia Georgiou 21', N'Greece', N'2106878934', N'business1@example.com', N'Athens', N'Attiki', N'11234', N'Recruitment and Human Resouces', N'Manpower Employment Organization (OAED)', N'business1')
INSERT [dbo].[Ambassadors] ([MemberID], [TaxNumber], [FullName], [Address], [Country], [Phone], [Email], [Website], [SocialMedia], [Occupation], [JobSector], [Employer], [LoginName]) VALUES (1272, NULL, N'Elizabeth Brown', N'Mataderos  2312', N'Spain', N'(5) 555-3932', N'business2@example.com', N'Madrid', N'', N'05023', N'Retail and Sales', N'Great Lakes Food Market', N'business2')
INSERT [dbo].[Ambassadors] ([MemberID], [TaxNumber], [FullName], [Address], [Country], [Phone], [Email], [Website], [SocialMedia], [Occupation], [JobSector], [Employer], [LoginName]) VALUES (1273, NULL, N'Sven Ottlieb', N'Hauptstr. 29', N'Germany', N'0452-076545', N'business3@example.com', N'Hamburg', N'', N'52066', N'Media and Internet', N'Electronic Arts', N'business3')
GO
SET IDENTITY_INSERT [dbo].[Commitments] ON 

INSERT [dbo].[Commitments] ([CommitmentID], [CommitmentText]) VALUES (1, N'Full-Time')
INSERT [dbo].[Commitments] ([CommitmentID], [CommitmentText]) VALUES (2, N'Part-Time')
SET IDENTITY_INSERT [dbo].[Commitments] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Austria')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Belgium')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Bulgaria')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Durations] ON 

INSERT [dbo].[Durations] ([DurationID], [DurationMonths]) VALUES (1, N'1 month')
INSERT [dbo].[Durations] ([DurationID], [DurationMonths]) VALUES (2, N'2 months')
INSERT [dbo].[Durations] ([DurationID], [DurationMonths]) VALUES (3, N'3 months')
SET IDENTITY_INSERT [dbo].[Durations] OFF
GO
INSERT [dbo].[Employers] ([MemberID], [TaxNumber], [CompanyName], [ContactPerson], [Headquarters], [Country], [JobSector1], [JobSector2], [JobSector3], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1266, NULL, N'Bottom-Dollar Markets', N'Paul Seal', N'St. Peter''s Square 67', N'Belgium', N'Engineering and Manufacturing', NULL, NULL, N'+30 2346 893', N'employer1@example.com', N'Some City', NULL, N'employer1')
INSERT [dbo].[Employers] ([MemberID], [TaxNumber], [CompanyName], [ContactPerson], [Headquarters], [Country], [JobSector1], [JobSector2], [JobSector3], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1267, NULL, N'Cactus Comidas para llevar', N'Nick Pearson', N'Argyle Avenue 22, Some District', N'Spain', N'Media and Internet', NULL, NULL, N'+45 4657 899', N'employer2@example.com', N'Barcelona', NULL, N'employer2')
INSERT [dbo].[Employers] ([MemberID], [TaxNumber], [CompanyName], [ContactPerson], [Headquarters], [Country], [JobSector1], [JobSector2], [JobSector3], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1268, NULL, N'Centro comercial Moctezuma', N'Adam Miller', N'Street Name 1, number 56', N'Ireland', N'Leisure, Sport and Tourism', NULL, NULL, N'+33 8987 234', N'employer3@example.com', N'Some city 2', NULL, N'employer3')
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([GenderID], [GenderText]) VALUES (1, N'Male')
INSERT [dbo].[Genders] ([GenderID], [GenderText]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
INSERT [dbo].[Graduates] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1261, NULL, N'Hanna Moos', CAST(N'1986-10-12' AS Date), N'Female', N'+302106878934', N'graduate1@example.com', N'Greece', N'Plateia Georgiou 21', N'Vocational Institute IEK Patras', N'graduate1')
INSERT [dbo].[Graduates] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1262, NULL, N'Frederique Citeaux', CAST(N'2000-10-15' AS Date), N'Prefer not to say', N'011-4988260', N'graduate2@example.com', N'Italy', N'Via Monte Bianco 34', N'Torino Technical School 1', N'graduate2')
INSERT [dbo].[Graduates] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1263, NULL, N'Martín Sommer', CAST(N'2002-01-11' AS Date), N'Male', N'(171) 555-0297', N'graduate3@example.com', N'Ireland', N'35 King George St.', N'Vocational Institute of Dublin', N'graduate3')
GO
SET IDENTITY_INSERT [dbo].[JobSectors] ON 

INSERT [dbo].[JobSectors] ([JobSectorID], [JobSectorText]) VALUES (1, N'Accountancy, Banking and Finance')
INSERT [dbo].[JobSectors] ([JobSectorID], [JobSectorText]) VALUES (2, N'Business, Consulting and Management')
INSERT [dbo].[JobSectors] ([JobSectorID], [JobSectorText]) VALUES (3, N'Charity and Voluntary Work')
SET IDENTITY_INSERT [dbo].[JobSectors] OFF
GO
INSERT [dbo].[LiaisonOfficers] ([MemberID], [TaxNumber], [FullName], [Country], [Phone], [Email], [OfficeAddress], [Occupation], [Employer], [LoginName]) VALUES (1276, NULL, N'Roland Mendel', N'Denmark', N'+302346789323', N'liaison1@example.com', N'St. Peter''s Square 67', NULL, N'Umbraco Ltd', N'liaison1')
INSERT [dbo].[LiaisonOfficers] ([MemberID], [TaxNumber], [FullName], [Country], [Phone], [Email], [OfficeAddress], [Occupation], [Employer], [LoginName]) VALUES (1277, NULL, N'Aria Cruz', N'Italy', N'0114988260', N'liaison2@example.com', N'Via Monte Bianco 34', NULL, N'Seven Seas Imports', N'liaison2')
INSERT [dbo].[LiaisonOfficers] ([MemberID], [TaxNumber], [FullName], [Country], [Phone], [Email], [OfficeAddress], [Occupation], [Employer], [LoginName]) VALUES (1278, NULL, N'Diego Roel', N'Austria', N'(5) 555-2933', N'liaison3@example.com', N'90 Wadhurst Rd.', NULL, N'Toms Spezialitäten', N'liaison3')
GO
SET IDENTITY_INSERT [dbo].[MemberGroups] ON 

INSERT [dbo].[MemberGroups] ([MemberGroupID], [MemberGroupText]) VALUES (1, N'VET Student')
INSERT [dbo].[MemberGroups] ([MemberGroupID], [MemberGroupText]) VALUES (2, N'VET Graduate')
INSERT [dbo].[MemberGroups] ([MemberGroupID], [MemberGroupText]) VALUES (3, N'VET Provider')
SET IDENTITY_INSERT [dbo].[MemberGroups] OFF
GO
INSERT [dbo].[Organizations] ([MemberID], [TaxNumber], [OrganizationName], [ContactPerson], [Country], [Headquarters], [JobSector], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1286, NULL, N'Association of Commercial Television in Europe (ACT)', N'Patricia Anderson', N'France', NULL, N'Hospitality and Events Management', N'+32 7896123', N'organization1@example.com', N'Another street and number', N'Paris', N'organization1')
INSERT [dbo].[Organizations] ([MemberID], [TaxNumber], [OrganizationName], [ContactPerson], [Country], [Headquarters], [JobSector], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1287, NULL, N'Association of Mutual Insurers and Insurance Cooperatives in Europe (AMICE)', N'Giovanni Rovelli', N'France', NULL, N'Marketing, Advertising and Public Relations', N'(02) 201 24 67', N'organization2@example.com', N'12 Orchestra Terrace', N'City 1', N'organization2')
INSERT [dbo].[Organizations] ([MemberID], [TaxNumber], [OrganizationName], [ContactPerson], [Country], [Headquarters], [JobSector], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1288, NULL, N'Council of European Municipalities and Regions (CEMR)', N'Yvonne Moncada', N'Malta', NULL, N'Public Services and Administration', N'0221-0644327', N'organization3@example.com', N'89 Chiaroscuro Rd.', N'City 2', N'organization3')
GO
INSERT [dbo].[Schools] ([MemberID], [TaxNumber], [SchoolName], [ContactPerson], [Country], [Address], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1281, NULL, N'Hi-Tech Training', N'Rebecca Thorn', N'Malta', N'Another street and number 2', N'223- 4565456', N'school1@example.com', N'Some city 3', N'Region B', N'school1')
INSERT [dbo].[Schools] ([MemberID], [TaxNumber], [SchoolName], [ContactPerson], [Country], [Address], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1282, NULL, N'Dublin Vocational Academy', N'Helen Bennett', N'Ireland', N'Rue Joseph-Bens 532', N'(5) 555-1340', N'school2@example.com', N'City 2', N'Region 2', N'school2')
INSERT [dbo].[Schools] ([MemberID], [TaxNumber], [SchoolName], [ContactPerson], [Country], [Address], [Phone], [Email], [Website], [SocialMedia], [LoginName]) VALUES (1283, NULL, N'Product School Athens', N'Alexopoulou Dimitra', N'Greece', N'Leoforos Georgiou 11', N'210-3456 443', N'school3@example.com', N'Athens', N'Attica', N'school3')
GO
INSERT [dbo].[Students] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1256, NULL, N'Maria Anders', CAST(N'1983-05-09' AS Date), N'Female', N'+302106878934', N'student1@example.com', N'Greece', N'Logistics Administrator', N'Vocational Institute IEK Patras', N'student1')
INSERT [dbo].[Students] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1257, NULL, N'Ana Trujillo', CAST(N'2001-01-11' AS Date), N'Female', N'(8) 34-56-12', N'student2@example.com', N'Italy', N'Accounting Manager', N'Vocational Institute 3', N'student2')
INSERT [dbo].[Students] ([MemberID], [TaxNumber], [FullName], [Birthdate], [Gender], [Phone], [Email], [Country], [Specialization], [School], [LoginName]) VALUES (1258, NULL, N'Antonio Moreno', CAST(N'2003-08-12' AS Date), N'Male', N'035-640230', N'student3@example.com', N'Netherlands', N'Web Designer', N'Vocational Institute 4', N'student3')
GO
INSERT [dbo].[Teachers] ([MemberID], [TaxNumber], [FullName], [Country], [School], [SchoolAddress], [Phone], [Email], [SocialMedia], [LoginName]) VALUES (1291, NULL, N'Simon Crowther', N'Luxemburg', N'Vocational Institute IEK Creta', N'St. Peter''s Square 67', N'+302346789323', N'teacher1@example.com', N'Some City', N'teacher1')
INSERT [dbo].[Teachers] ([MemberID], [TaxNumber], [FullName], [Country], [School], [SchoolAddress], [Phone], [Email], [SocialMedia], [LoginName]) VALUES (1292, NULL, N'Yvonne Moncada', N'Netherlands', N'Ofsio Technical School', N'Erling Skakkes gate 78', N'07-98 92 35', N'teacher2@example.com', N'City 8', N'teacher2')
INSERT [dbo].[Teachers] ([MemberID], [TaxNumber], [FullName], [Country], [School], [SchoolAddress], [Phone], [Email], [SocialMedia], [LoginName]) VALUES (1293, NULL, N'Henriette Pfalzheim', N'Spain', N'Ofistic Technical School', N'(071) 23 67 22 34', N'(071) 23 67 22 20', N'teacher3@example.com', N'City 5', N'teacher3')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[26] 4[21] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[7] 2[46] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2655
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 5625
         Alias = 3150
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryMembersUnion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[22] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employers"
            Begin Extent = 
               Top = 5
               Left = 2
               Bottom = 145
               Right = 176
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Apprenticeships"
            Begin Extent = 
               Top = 7
               Left = 288
               Bottom = 147
               Right = 476
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3075
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersApprenticeships'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[23] 4[22] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "sql_MembersAll"
            Begin Extent = 
               Top = 4
               Left = 7
               Bottom = 160
               Right = 238
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Articles"
            Begin Extent = 
               Top = 0
               Left = 311
               Bottom = 159
               Right = 551
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 2085
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3105
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'rep_MembersArticles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[20] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "qryMembersUnion"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2190
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'sql_MembersAll'
GO
USE [master]
GO
