.contact-clean {
  background:#f1f7fc;
  padding:20px 0;       /* 80px */
}

@media (max-width:767px) {
  .contact-clean {
    padding:20px 0;
  }
}

.contact-clean form, #form-result {
  max-width:800px;          /* max-width:480px */
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

#form-result {
    display:none;
}

@media (max-width:767px) {
  .contact-clean form {
    padding:30px;
  }
}

.contact-clean h2 {
  margin-top:5px;
  font-weight:bold;
  font-size:28px;
  margin-bottom:36px;
  color:inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom:5px;
}

.contact-clean form .form-control {
  background:#fff;
  border:1px solid #d4d4d4;
  border-radius:2px;
  box-shadow:1px 1px 1px rgba(0,0,0,0.05);
  outline:none;
  color:inherit;
  padding-left:12px;
  height:42px;
}

.contact-clean form .form-control:focus {
  border:1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height:100px;
  max-height:260px;
  padding-top:10px;
  resize:vertical;
}

.contact-clean form .form-control-feedback {
  height:42px;
  line-height:42px;
}

.contact-clean form .help-block {
  margin-top:8px;
  font-size:13px;
}

.contact-clean form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
  outline:none !important;
}

.contact-clean form .btn:hover {
  opacity:1;
}

.contact-clean form .btn:active {
  transform:translateY(1px);
}

.contact-clean form .btn-primary {
  background-color:#055ada !important;
  margin-top:15px;
  color:#fff;
}

/* need to add this otherwise buttons do not render in form */
.contact-clean form .btn-success {
    background-color: #5cb85c !important;
    margin-top: 15px;
    color: #fff;
}

.contact-clean form .btn-info {
    background: #5bc0de !important;
    margin-top: 15px;
    color: #fff;
    border: 2px solid #5bc0de;
}

.contact-clean form .btn-danger {
    background: #d9534f !important;
    color: #fff;
    border: 2px solid #d9534f;
}

.contact-clean form .btn-warning {
    background: #f0ad4e !important;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.contact-clean form .btn-pink {
    background: #ec008c !important;
    color: #ffffff !important;
    border: 2px solid #ec008c;
}

.contact-clean form span.field-validation-error {
    color: red;
    margin-top: 10px;
}

/* Form fields prefix */

#user-login .input-group .input-group-addon, #user-pass .input-group .input-group-addon, #user-register .input-group .input-group-addon {
    background: #ec008c;
    border: 1px solid #ec008c !important;
    color: #fff;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom:20px;
}

.form-content .user-icon {
    color: #f8f8f8;
    text-align: center;
    width: 100%;
}

.form-header {
    max-width: 800px;
    background: #ffffff; /* #898989; */
    padding-left: 20px;
    font-size: xx-large;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.form-title {
    color: #898989;
    font-family: 'Segoe UI';
    font-size: 32px;
}

.form-line {
    color: lightgray;
    background-color: lightgray;
    border-width: 0;
    height: 2px;
}
