body {
}

.btnlogin {
    color: #FFFFFF !important;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 4px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    min-width:10ch;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btnlogin:hover, btnlogin:focus, btnlogin:active {
    color: #ffffff !important;
    text-decoration: none;
}

.btn-pink {
    background: #ec008c;
    color: #ffffff !important;
    border: 2px solid #ec008c;
}

.btn-pink:hover, btn-pink:focus, btn-pink:active {
    background: #ff33ad !important;
    border-color: #ff33ad !important;
    color: #FFFFFF !important;
    text-decoration: none;
}

.btn-pink.btn-outline {
    background: transparent;
    color: #ec008c;
    border: 2px solid #ec008c;
}

.btn-pink.btn-outline:hover, btn-pink.btn-outline:focus, btn-pink.btn-outline:active {
    background: #ec008c;
    color: #FFFFFF;
}

/* test area */

.blue_a {
    color: #fff !important;
    text-decoration: none;
    background: #055ada;
    padding: 2px;
    font-size: 13px;
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.blue_a:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.pink_a {
    color: #fff !important;
    text-decoration: none;
    background: #ec008c;
    padding: 2px;
    font-size: 13px;
    font-family: "Open Sans", Arial, sans-serif;
    border-radius: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.pink_a:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
