@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Mvc

<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

@if (Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogout", "User", System.Web.Mvc.FormMethod.Post, new { id = "logout" }))
    {
        @Html.AntiForgeryToken()
        var myUser = System.Web.Security.Membership.GetUser();
        if (myUser != null)
        {
        <div class="contact-clean" style="background-color:white">
            <div class="center" style="margin-top:20px;margin-bottom:20px;">
                <p style="font-size:20px">Logged in as <span><strong>@myUser.UserName</strong></span></p>
                <p></p>
                <div class="center">
                    <button class="btn btn-primary" name="logout" type="submit" style="font-family:'Segoe UI';font-size: large;float:left">
                        <span>logout </span>
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
                <p></p>
            </div>
        </div>
        }
    }
}
