@inherits UmbracoViewPage

<!-- Handles titles shown on every page except the home page -->
<div class="row">
    <div class="col-md-12 text-center fh5co-heading">
        <h2>
            @(Umbraco.AssignedContentItem.HasProperty("title") && !string.IsNullOrEmpty(Umbraco.AssignedContentItem.GetProperty("title").GetValue().ToString())
			? Umbraco.AssignedContentItem.GetProperty("title").GetValue() : Umbraco.AssignedContentItem.Name)
        </h2>
        @Html.Raw(Umbraco.AssignedContentItem.GetProperty("subTitle").GetValue())
    </div>
</div>


