@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FaqList>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<head>
    <title></title>

    <!-- These are required for the accordion -->
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <script src="~/Content/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/Content/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
</head>

@{ Html.RenderPartial("Partials/Faq/_FaqHeader"); }

@*@{ Html.RenderPartial("Partials/Faq/_FaqArticles"); }*@

@{ Html.RenderAction("RenderFaqList", "Content"); }