@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<style>
    .faq-header {
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
        color: #808080;
    }

    div.fluent-image {
        color: #fff;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    .inline-block-center {
        text-align: center;
    }

        .inline-block-center div {
            display: inline-block;
            text-align: left;
        }

    .flex-center {
        display: flex;
        justify-content: center;
    }
</style>

<!-- This is a static page shown in the event of an invalid member profile address -->
<div class="fluent-image" style="background-image:url('~/img/carousel.jpg');height:500px"></div>
<div class="container" style="margin-top:20px">
    <h2 class="faq-header">The requested profile is not valid!</h2>
</div>
