@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>

@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc

@{
    Layout = "master.cshtml";

    //Html.EnableClientValidation();
    //Html.EnableUnobtrusiveJavaScript();

    Html.RequiresCss(Url.Content("~/css/Contact-Form-Clean.css"));
    //Html.RequiresJs(Url.Content("~/scripts/jquery.validate.min.js"));
    //Html.RequiresJs(Url.Content("~/scripts/jquery.validate.unobtrusive.min.js"));
    //Html.RequiresJs(Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js"));
    //Html.RequiresJs(Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js"));

}

@Html.RenderCssHere()

<body>

    @Html.RenderJsHere()

    <div class="contact-clean">
        @{ Html.RenderAction("RenderTitleControls", "Content"); }

        @{ Html.RenderAction("RenderLogin", "User"); }
    </div>

</body>
