@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<Members>*@

@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ContentModels = Umbraco.Web.PublishedModels;

@using ClientDependency.Core.Mvc

@{
    Layout = "master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresCss("/css/Contact-Form-Clean.css");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js");
    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contactForm.js");

    var loggedMember = Members.GetCurrentMember();
    string urlSlug = "";
    string memberType = "";
    if (loggedMember != null)
    {
        urlSlug = loggedMember.GetProperty("urlSlug").Value<string>();
        memberType = loggedMember.ContentType.Alias.ToString();
    }
}

<div class="contact-clean">
    @{ Html.RenderAction("RenderTitleControls", "Content"); }

    @{ Html.RenderAction("RenderMemberForm", "Profiles", new { memberAlias = urlSlug, memberType = memberType }); }
</div>