@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var imageUrl = Model.HasValue(alias: "mainImage") ? Model.Value<IPublishedContent>(alias: "mainImage").GetCropUrl(1920, 500) : null;
}

<style>
    .faq-header {
        text-align: center;
        font-weight: 700;
        margin-top: 10px;
        color: #808080;
    }

    div.fluent-image {
        color: #fff;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    .inline-block-center {
        text-align: center;
    }

    .inline-block-center div {
        display: inline-block;
        text-align: left;
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }
</style>

<div class="col-12" style="margin-top:40px">
    <div class="fluent-image" style="background-image:url('@(imageUrl)');height:500px"></div>
    <h2 class="col-12 faq-header">@(Model.Title)</h2>
    <div class="col-12">@Html.Raw(Model.Description)</div>
</div>

<div id="fh5co-main-services-section">
    <div class="container">
        <div class="col-md-7">
            <div class="row">
                @{ Html.RenderAction("RenderServicesMain", "Content"); }
            </div>
        </div>
        <div class="col-md-5">
            <aside class="sidebar">
                <div class="row">
                    @{ Html.RenderAction("RenderServicesSidebar", "Content"); }
                </div>
            </aside>
        </div>
    </div>
</div>
