
@using Appintern.Web.ViewModels

@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }

    img.box-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
</style>

<div class="page-header" style="margin:5px 60px 5px 60px;width:100%">
    <span style="margin:5px 5px 5px 5px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Access denied page</font>
    </span>
    <span style="margin:5px 60px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
        @Html.ActionLink("Return to Main", "RenderTasksMain", "TasksPublish", null, new { @class = "btn btn-warning", style = "font-size:16px" })
    </span>
</div>

<div class="body-content" style="margin:40px auto 20px auto;">
    <h4 style="margin:20px auto 20px auto">Your account does not grant you access to these pages.</h4>
    <img class="box-shadow" src="@Url.Content("~/Images/access-denied-01.jpg")" width="600" height="340" />
</div>

<script type="text/javascript">
    //set current to the "en-GB" culture script. Required!
    kendo.culture("en-GB");
</script>
