@model List<FaqViewModel>

@using Appintern.Web.ViewModels

<style>
    .faq-container {
        padding-right: 60px;
        padding-left: 60px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
</style>

<div class="faq-container col-md-12" id="accordion">

    @if (Model != null && Model.Count > 0)
    {
        foreach (FaqViewModel item in Model)
        {
            @RenderFaqItem(item);
        }
    }

</div>

<script type="text/javascript">
    $(function () {
        $("#accordion").accordion({
            collapsible: true
        });
    });
</script>

@helper RenderFaqItem(FaqViewModel item)
{
    <h3 style="text-align:justify;font-weight:700;font-size:17px;">@item.Question</h3>
    <div>
        <div style="text-align:justify;color:#808080;">@Html.Raw(item.Answer)</div>
    </div>
}