
<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }

    img.box-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
</style>


<div class="container" style="margin-top:20px">
    <div class="page-header" style="margin:10px 20px 10px 20px;">
        <span style="font-family:'Segoe UI';font-size:24px;text-shadow:1px 1px dimgray;">
            <font style="color:#797979;font-family:'Segoe UI'">Member tasks page</font>
        </span>
    </div>

    @(Html.Kendo().PanelBar()
        .Name("PanelBar")
        .Items(items =>
        {
        items.Add()
        .Text("Instructions")
        .Selected(true)
        .Expanded(true)
        .HtmlAttributes(new { style="min-width:1200px"})
        .Content(
            @<text>
                <!-- Tabstrip section -->
                <div style="margin-left:6px;margin-right:6px">

                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Various tasks can you perform here
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList1.png" />
                        You can browse and publish News and Events about your business.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList2.png" />
                        You can browse and publish any Apprenticeship posts you offer.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList3.png" />
                        You can browse and publish any Job posts you offer.
                    </p>
                </div>
                <!-- End of Tabstrip -->
            </text>);
        items.Add()
        .Text("Announcements")
        .HtmlAttributes(new { style = "min-width:1200px" })
        .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                <p></p>
                <p class="sansserif">
                    <img src="~/img/menu-icons/appbar.card.1.png" width="42" height="42" />
                    Η πρόσβαση στις Ηλεκτρονικές Υπηρεσίες του ΟΑΕΔ απαιτεί σύγχρονα προγράμματα πλοήγησης (browsers) για την ασφάλεια των προσωπικών
                    δεδομένων και των πληροφοριακών συστημάτων. Αν αντιμετωπίζετε πρόβλημα πρόσβασης στις Ηλεκτρονικές Υπηρεσίες του ΟΑΕΔ, θα πρέπει
                    να κατεβάσετε και να εγκαταστήσετε την πιο πρόσφατη έκδοση ενός από τους δωρεάν περιηγητές Google Chrome ή Mozilla Firefox.
                    Για τον σκοπό αυτό επισκεφθείτε μια από τις παρακάτω ιστοσελίδες και ακολουθείστε τις οδηγίες που σας παρέχουν.<br />
                    Για τον Google Chrome: <a href="https://www.google.com/chrome/browser/desktop" target="_blank"><b>https://www.google.com/chrome/browser/desktop</b></a><br />
                    Για τον Mozilla Firefox: <a href="https://www.mozilla.org/el/firefox/new" target="_blank"><b>https://www.mozilla.org/el/firefox/new</b></a>
                </p>
                <p class="sansserif">
                    <img src="~/img/menu-icons/appbar.card.2.png" width="42" height="42" />
                    Δοκιμαστικό κείμενο 2.<br />
                </p>
                <p></p>
                <p class="sansserif">
                    <img src="~/img/menu-icons/appbar.card.3.png" width="42" height="42" />
                    Δοκιμαστικό κείμενο 3. <br />
                </p>
                </div>
            </text>);
        })
    )
</div>
<div class="container" style="margin-top:20px;margin-bottom:10px">
    <img class="box-shadow" src="~/img/home-bg.jpg" width="1200" height="360" style="object-fit:cover;" />
</div>
