@inherits UmbracoViewPage<Appintern.Web.ViewModels.EditAvatarModel>

@using Umbraco.Web
@using Umbraco.Web.Mvc
@using System.Web.Mvc

@{
    string message = ViewData["message"] != null ? ViewData["message"].ToString() : "";
}

<div class="container">
    @{
        using (Html.BeginUmbracoForm("SubmitAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @RenderUploadForm()

            if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@Html.ValidationSummary()</strong>
                </div>
            }
            if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@Html.Raw(ViewData["message"])</strong>
                </div>
            }
        }
    }
</div>

@helper RenderUploadForm()
{
<div id="user-login">
    <div class="form-header" style="margin-bottom:20px">
        <img src="~/Images/user-circle-gray.png" width="100" height="70" style="margin:10px 20px 10px 10px" />
        <font class="form-title">Member avatar</font>
    </div>
    <div class="form-group" style="margin-bottom:20px;margin-left:20px">
        <input type="file" name="Avatar" id="Avatar" accept="image/png, image/jpeg, image/jpg, image/gif" style="font-size:18px" onchange="loadFile(event)" />
        <button class="btn btn-primary" name="submit" type="submit">upload </button>
    </div>
    <div class="form-group" style="margin-left:20px">
        <p><label for="file" style="cursor: pointer;">Upload Image Preview</label></p>
        <p><img id="output" width="180" /></p>
    </div>
</div>
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>