thead input {
    width: 100%;
}
td.highlight {
    background-color: whitesmoke !important;
}
tr.selected {
    background-color: #f2dede !important;
}
/*#datatable-responsive > table > tbody > tr.active {
    background: #e8a3a3 !important;
    color: #fff !important;
}*/
/*#datatable-responsive > tbody > tr:nth-child(active) > td ,
#datatable-responsive > tbody > tr:nth-child(active) > th {
    background: #e8a3a3 !important;
}*/